<h1>Explore Sectors</h1>
<% @sectors.each do |sector| %>
  <h3><%= sector.sector_name %></h3>
  <p>Initiated On: <%= sector.created_at%></p>
<% end %>
<br>
<%=link_to "Create a Sector", 'sectors/new'%>